<h2><font face="Tahoma" size="3">Session Expired</font></h2>
<table border="0" cellpadding="6"><tr><td bgcolor="#ffe8e8">
  <font face="Tahoma" size="2" color="#aa0000"><b>Your session has timed out.</b></font>
</td></tr></table>
<br>
<font face="Tahoma" size="2">For your security this session was ended after a period of inactivity.</font>
<br><br>
<table border="0" cellpadding="4"><tr><td>
  <a href="/login" target="_top"><font face="Tahoma" size="2">{{ tenant.labels.signin_button }}</font></a>
</td></tr></table>
