<h2><font face="Tahoma" size="3">{{ tenant.headings.subaccount_confirm }}</font></h2>
<table border="0" cellpadding="6"><tr><td bgcolor="#e8ffe8">
  <font face="Tahoma" size="2"><b>Sub-account opened successfully.</b></font>
</td></tr></table>
<br>
<table border="1" cellpadding="4" cellspacing="0" bordercolor="#808080">
  <tr bgcolor="#ece9d8">
    <td><font face="Tahoma" size="2"><b>Field</b></font></td>
    <td><font face="Tahoma" size="2"><b>Value</b></font></td>
  </tr>
  <tr>
    <td><font face="Tahoma" size="2">Member</font></td>
    <td><font face="Tahoma" size="2">{{ member_id }} &mdash; {{ member.name }}</font></td>
  </tr>
  <tr>
    <td><font face="Tahoma" size="2">Confirmation Number</font></td>
    <td><font face="Tahoma" size="2">{{ confirmation_number }}</font></td>
  </tr>
  <tr>
    <td><font face="Tahoma" size="2">Account Type</font></td>
    <td><font face="Tahoma" size="2">{{ account_type }}</font></td>
  </tr>
  <tr>
    <td><font face="Tahoma" size="2">New Account Number</font></td>
    <td><font face="Tahoma" size="2">{{ new_account_number }}</font></td>
  </tr>
  <tr>
    <td><font face="Tahoma" size="2">Opening Balance</font></td>
    <td align="right"><font face="Tahoma" size="2">{{ opening_balance }}</font></td>
  </tr>
</table>
